<hr>
<h2>Math Function</h2>
<h3>Enter a number: <input type="text" [(ngModel)]=" number1">
     <button type="button" (click)="factorial(number1)">ans</button>
     The factorial is : {{result}} 
    </h3>
    <h3>Enter a number: <input type="text" [(ngModel)]=" number2">
        <button type="button" (click)="evenOdd(number2)">ans</button>
        The number is : {{result1}} 
       </h3>
       <h3>Enter a number: <input type="text" [(ngModel)]=" number3">
        <button type="button" (click)="addition(number3)">ans</button>
        The number is : {{result2}} 
       </h3>
       <h3>Enter a number: <input type="text" [(ngModel)]=" number3">
        <button type="button" (click)="fibonacci(number4)">ans</button>
        The sum of nth fibonacci is : {{result3}} 
       </h3>
<hr>
